In [1]:
import pandas as pd

In [4]:
names = ['request_id', 'cli', 'fleet_id', 'taxi', 'time', 'dispatch_date', 'schedule_date', 'event', 'taxiFlags']
df = pd.read_csv('luc_csv.csv', names=names)

In [15]:
df['time'] = df['time'].str.strip()

In [20]:
df[df['time'] == 'None']
df = df[df['time'] != 'None']

In [23]:
df['time_2'] = df['time'].astype(float)
df['time_2'] = df['time_2'].astype(int)

/Users/lucparada/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/lucparada/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df.head()

,request_id,cli,fleet_id,taxi,time,dispatch_date,schedule_date,event,taxiFlags,time_2
0,6213339L,'917665187',0L,187L,1577875920.04847,1.577876e+09,1.577876e+09,'a',0L,1577875920
1,6213339L,'917665187',0L,187L,1577875926.11388,1.577876e+09,1.577876e+09,'A',0L,1577875926
2,6213339L,'917665187',0L,950L,1577875920.03415,1.577876e+09,1.577876e+09,'c',0L,1577875920
3,6213339L,'917665187',0L,187L,1577876426.69929,1.577876e+09,1.577876e+09,'p',0L,1577876426
4,6213339L,'917665187',0L,187L,1577877792.16427,1.577876e+09,1.577876e+09,'q',0L,1577877792

In [28]:
df[df['time_2'] == 1577837216]

Empty DataFrame
Columns: [request_id, cli, fleet_id, taxi, time, dispatch_date, schedule_date, event, taxiFlags, time_2]
Index: []