# Imports

In [39]:
import mysql.connector as mysql
import MySQLdb

import random
import requests
import json
from time import time
import numpy as np
import csv

# Create Connection

In [63]:
db = mysql.connect(host="localhost",
                     user="root",
                     passwd="root",
                     port=8889,
                     db="test_database"
                    )


# (
#     host = "192.168.1.123",
#     user = "developer",
#     passwd = "euRkVpvi56SwuKf4qYw8Ug",
# )

# Connect
# db = MySQLdb.connect(host="192.168.1.123",
#                      user="developer",
#                      passwd="euRkVpvi56SwuKf4qYw8Ug",
#                     )

cursor = db.cursor()
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7fcd117aa490>

# Create Data

## Table 1

In [47]:
#generate data
num_values = 10000
r = requests.get('http://names.drycodes.com/'+str(num_values))
varchar_vals = json.loads(r.text)
data_table1 = [ { 'val_varchar': varchar_vals[i], 'val_int': random.randint(0, i) } for i in range(num_values)]

In [41]:
for d in data_table1:
    query = "INSERT INTO test_database.table1 (val_varchar, val_int) VALUES (%s, %s)"
    ## storing values in a variable
    values = (d['val_varchar'], d['val_int'])

    ## executing the query with values
    cursor.execute(query, values)

    ## to make final output we have to run the 'commit()' method of the database object
    db.commit()

## Table 2

In [60]:
#generate data
num_values = 100000
r = requests.get('http://names.drycodes.com/'+str(num_values))
varchar_vals = json.loads(r.text)
data_table1 = [ { 'val_varchar': varchar_vals[i], 'table1_id': random.randint(1, 1000) } for i in range(num_values)]

In [61]:
for d in data_table1:
    query = "INSERT INTO test_database.table2 (val_varchar, table1_id) VALUES (%s, %s)"
    ## storing values in a variable
    values = (d['val_varchar'], d['table1_id'])

    ## executing the query with values
    cursor.execute(query, values)

    ## to make final output we have to run the 'commit()' method of the database object
    db.commit()

# Search Data

In [65]:
data = []
for d in range(1000):
    t = time()
    query = "SELECT * FROM test_database.table2 WHERE table1_id=" + str(d+1)
    
    ## getting records from the table
    cursor.execute(query)

    ## fetching all records from the 'cursor' object
    records = cursor.fetchall()
    for r in records:
        data.append([e for e in r])

data

[[980, 'BBQ_Cone', 1],
 [2467, 'Clock_Sink', 1],
 [3339, 'Ring_Shelf', 1],
 [3975, 'Urine_Towel', 1],
 [4000, 'Elevator_Monster', 1],
 [4019, 'Rollers_Horse', 1],
 [5888, 'Dog_Solar', 1],
 [6241, 'Cat_Mail', 1],
 [6247, 'Robot_Poop', 1],
 [8929, 'Ice_cream_cone_Prints', 1],
 [10844, 'Kitty_Trees', 1],
 [11320, 'Book_Floppy_Disk', 1],
 [11770, 'Towel_Towel', 1],
 [12394, 'Male_Urine', 1],
 [12531, 'Mail_Toilet', 1],
 [13301, 'Running_Ice_cream_cone', 1],
 [14256, 'Light_saber_Website', 1],
 [18106, 'Prints_Dog', 1],
 [18554, 'Dislike_Ice_cream', 1],
 [18906, 'Monster_Light_saber', 1],
 [20144, 'Puppy_Shower', 1],
 [20231, 'Toilet_Hnads', 1],
 [20306, 'Cone_Laptop', 1],
 [20307, 'Horse_Website', 1],
 [21792, 'Male_Solar', 1],
 [22161, 'Prints_System', 1],
 [22652, 'Mail_Websites', 1],
 [28373, 'Robot_Running', 1],
 [31517, 'Laptop_Shower', 1],
 [32001, 'Settings_Toilet', 1],
 [32097, 'Book_Urine', 1],
 [33398, 'Website_Running', 1],
 [33471, 'Shoe_Comics', 1],
 [33779, 'Cone_Post_office', 1],
 [34037, 'Cone_Light_saber', 1],
 [37777, 'Allergies_Toolbox', 1],
 [37816, 'Prints_Sink', 1],
 [38563, 'Post_office_Cat', 1],
 [38906, 'Cat_Shower', 1],
 [40387, 'Kitty_Kitty', 1],
 [41111, 'Website_Urine', 1],
 [41133, 'Leash_Settings', 1],
 [44051, 'Ice_cream_Crab', 1],
 [44109, 'Clock_Websites', 1],
 [45853, 'Fusion_Shelf', 1],
 [48783, 'Crab_Trees', 1],
 [48838, 'Plus_BBQ', 1],
 [50941, 'Solar_Ring', 1],
 [51175, 'Running_Video_games', 1],
 [53782, 'Monster_Shoes', 1],
 [54793, 'Body_Whale', 1],
 [55041, 'Light_saber_Website', 1],
 [55099, 'Ring_Puppy', 1],
 [55213, 'Printer_Dog', 1],
 [55833, 'System_Male', 1],
 [58871, 'Towel_Kitty', 1],
 [63835, 'Ice_cream_Dislike', 1],
 [64376, 'Drugs_Fusion', 1],
 [66010, 'Light_saber_Floppy_Disk', 1],
 [66096, 'Hnads_Post_office', 1],
 [66551, 'Comics_Horse', 1],
 [67034, 'Light_saber_Flowers', 1],
 [69227, 'Plants_Book', 1],
 [70217, 'Websites_Horse', 1],
 [70621, 'Allergies_Light_saber', 1],
 [74450, 'Video_games_Allergies', 1],
 [74609, 'Solar_Hnads', 1],
 [75086, 'Whale_Drugs', 1],
 [76534, 'System_Horse', 1],
 [77485, 'Cone_Hnads', 1],
 [79802, 'Horse_Urine', 1],
 [80302, 'Websites_Video_games', 1],
 [81664, 'Trees_Prints', 1],
 [83422, 'Ice_cream_Plus', 1],
 [84368, 'BBQ_Robot', 1],
 [86946, 'Cat_Soap', 1],
 [91881, 'Drugs_System', 1],
 [92815, 'Hnads_Body', 1],
 [94163, 'Ice_cream_cone_Toolbox', 1],
 [95607, 'Water_Cat', 1],
 [95623, 'Android_YouTube', 1],
 [95817, 'Whale_Light_saber', 1],
 [98657, 'Kitty_Male', 1],
 [99989, 'Male_Trees', 1],
 [102504, 'Fence_Male', 1],
 [104911, 'Water_Solar', 1],
 [106454, 'Drugs_Fence', 1],
 [107694, 'Poop_Dislike', 1],
 [109923, 'Shoe_BBQ', 1],
 [110793, 'Floppy_Disk_Toilet', 1],
 [111006, 'Ice_cream_cone_Body', 1],
 [111618, 'Printer_Nuclear', 1],
 [112605, 'Video_games_Boat', 1],
 [112834, 'Light_saber_Hnads', 1],
 [113461, 'Fusion_Websites', 1],
 [114778, 'YouTube_Allergies', 1],
 [116755, 'Website_Cone', 1],
 [118185, 'Book_Bird', 1],
 [118426, 'Fence_Light_saber', 1],
 [120302, 'Websites_Prints', 1],
 [120309, 'Book_Water', 1],
 [120447, 'Kitty_Laptop', 1],
 [121158, 'Mail_Cat', 1],
 [121181, 'Rollers_Drugs', 1],
 [121471, 'Android_Settings', 1],
 [122096, 'Post_office_YouTube', 1],
 [122750, 'Water_Bird', 1],
 [123892, 'Running_Ring', 1],
 [124391, 'Water_YouTube', 1],
 [125974, 'Flowers_Boat', 1],
 [126338, 'BBQ_Website', 1],
 [126415, 'Body_System', 1],
 [127105, 'Post_office_Video_games', 1],
 [129107, 'Toolbox_Android', 1],
 [130873, 'Ice_cream_cone_Flowers', 1],
 [131608, 'Cone_Shower', 1],
 [131611, 'Shoes_Cat', 1],
 [132075, 'Website_Trees', 1],
 [132585, 'Male_Printer', 1],
 [133605, 'Robot_Dislike', 1],
 [136761, 'Allergies_Toilet', 1],
 [137170, 'Boat_Toolbox', 1],
 [137763, 'Running_Ice_cream_cone', 1],
 [139086, 'Trees_Urine', 1],
 [139254, 'Leash_Shower', 1],
 [140017, 'Shower_Plus', 1],
 [140119, 'Sink_Horse', 1],
 [140748, 'Light_saber_Cat', 1],
 [140772, 'Elevator_Toolbox', 1],
 [142286, 'Fusion_Clock', 1],
 [144471, 'Body_Shoes', 1],
 [145052, 'Body_Urine', 1],
 [145605, 'Kitty_Shelf', 1],
 [145790, 'Mail_Light_saber', 1],
 [145918, 'Male_Kitty', 1],
 [146495, 'Urine_Bird', 1],
 [149124, 'Nuclear_Toolbox', 1],
 [149962, 'Plus_Trees', 1],
 [149976, 'Flowers_Running', 1],
 [155303, 'Dislike_Mail', 1],
 [155331, 'Plus_Fusion', 1],
 [155948, 'Fusion_BBQ', 1],
 [155955, 'Poop_Toolbox', 1],
 [156735, 'Fusion_Puppy', 1],
 [158992, 'Horse_Male', 1],
 [159763, 'Leash_Dog', 1],
 [160298, 'Toolbox_Toilet', 1],
 [161918, 'Dislike_Ring', 1],
 [162443, 'Plus_Whale', 1],
 [163266, 'Towel_Running', 1],
 [164841, 'Prints_Comics', 1],
 [165244, 'Leash_Book', 1],
 [167505, 'Website_Cone', 1],
 [168106, 'BBQ_Cat', 1],
 [169113, 'Kitty_Shelf', 1],
 [169506, 'Kitty_Water', 1],
 [169912, 'Body_Soap', 1],
 [170599, 'Ice_cream_Sink', 1],
 [171285, 'Cat_Water', 1],
 [173475, 'Nuclear_Water', 1],
 [174057, 'BBQ_Shoes', 1],
 [175585, 'Allergies_Soap', 1],
 [176062, 'Plants_Flowers', 1],
 [178670, 'Fusion_Towel', 1],
 [179666, 'Shoe_Clock', 1],
 [180194, 'Video_games_Laptop', 1],
 [180264, 'Male_Cat', 1],
 [184691, 'Allergies_YouTube', 1],
 [186381, 'Bird_Kitty', 1],
 [186937, 'Post_office_Boat', 1],
 [187570, 'Shower_Plants', 1],
 [188582, 'Soda_Prints', 1],
 [189822, 'Video_games_Breakfast', 1],
 [190830, 'Light_saber_Toilet', 1],
 [190853, 'Kitty_Post_office', 1],
 [190872, 'Soda_Robot', 1],
 [192034, 'Allergies_Ice_cream', 1],
 [192543, 'Ice_cream_cone_Video_games', 1],
 [193273, 'Water_Mail', 1],
 [193870, 'Mail_Toilet', 1],
 [194556, 'Toolbox_System', 1],
 [194690, 'Light_saber_Shoe', 1],
 [195776, 'Shoes_Laptop', 1],
 [196991, 'Cat_Boat', 1],
 [198808, 'Shoes_Video_games', 1],
 [200745, 'Settings_Website', 1],
 [201074, 'Nuclear_Shower', 1],
 [201388, 'YouTube_Floppy_Disk', 1],
 [201760, 'Sink_System', 1],
 [204977, 'Book_Monster', 1],
 [205392, 'Running_Ice_cream', 1],
 [205492, 'Prints_Dog', 1],
 [205595, 'Printer_Clock', 1],
 [206480, 'Towel_Ring', 1],
 [206504, 'Dislike_Websites', 1],
 [207099, 'Cat_Urine', 1],
 [208235, 'Soap_Comics', 1],
 [244, 'Laptop_Solar', 2],
 [1357, 'Elevator_Cone', 2],
 [1375, 'Flowers_Leash', 2],
 [1414, 'Soap_Mail', 2],
 [1956, 'Urine_Crab', 2],
 [2763, 'Whale_Sink', 2],
 [3127, 'Toolbox_Comics', 2],
 [4427, 'Male_Prints', 2],
 [4622, 'Boat_Towel', 2],
 [5997, 'Shower_Android', 2],
 [6454, 'Light_saber_Plus', 2],
 [8343, 'Ring_Water', 2],
 [8596, 'Toilet_Hnads', 2],
 [10570, 'Ice_cream_Leash', 2],
 [11038, 'Printer_Solar', 2],
 [12718, 'Prints_Fence', 2],
 [13061, 'Fusion_Nuclear', 2],
 [13116, 'Hnads_Allergies', 2],
 [14071, 'Shelf_Website', 2],
 [15280, 'Hnads_Websites', 2],
 [15762, 'Sink_System', 2],
 [15884, 'Comics_Ring', 2],
 [16028, 'Ice_cream_Clock', 2],
 [16143, 'Light_saber_Hnads', 2],
 [17214, 'Breakfast_Floppy_Disk', 2],
 [19447, 'Puppy_Toilet', 2],
 [21782, 'Running_Mail', 2],
 [23014, 'Cat_Ring', 2],
 [23110, 'Kitty_Drugs', 2],
 [24142, 'Nuclear_Shoes', 2],
 [25125, 'Soap_Running', 2],
 [26032, 'Settings_Crab', 2],
 [27325, 'Ice_cream_Towel', 2],
 [28041, 'Laptop_Plus', 2],
 [29404, 'Towel_YouTube', 2],
 [29624, 'Kitty_Soda', 2],
 [31999, 'Cone_Shoes', 2],
 [33917, 'Floppy_Disk_Laptop', 2],
 [36816, 'Mail_Solar', 2],
 [37941, 'Mail_Shoe', 2],
 [37955, 'Ice_cream_Cone', 2],
 [41519, 'Elevator_Poop', 2],
 [41710, 'Monster_Puppy', 2],
 [41843, 'Shower_Clock', 2],
 [43187, 'Robot_Comics', 2],
 [44129, 'Sink_Ring', 2],
 [46246, 'Shoe_Toolbox', 2],
 [46635, 'Nuclear_Hnads', 2],
 [47222, 'Elevator_Prints', 2],
 [47975, 'Clock_Breakfast', 2],
 [49264, 'Comics_Fusion', 2],
 [51623, 'Crab_Dog', 2],
 [51758, 'Book_Running', 2],
 [53838, 'Breakfast_Male', 2],
 [55123, 'Elevator_Urine', 2],
 [55959, 'Allergies_Urine', 2],
 [57587, 'Ice_cream_cone_Comics', 2],
 [57915, 'Sink_BBQ', 2],
 [58133, 'Book_Monster', 2],
 [59478, 'Bird_Crab', 2],
 [59816, 'Laptop_Plus', 2],
 [61439, 'Body_Dislike', 2],
 [61621, 'Hnads_Breakfast', 2],
 [62576, 'Laptop_Floppy_Disk', 2],
 [62901, 'Mail_Clock', 2],
 [62919, 'Ice_cream_Boat', 2],
 [63228, 'Android_Fusion', 2],
 [63382, 'Breakfast_Ring', 2],
 [64535, 'Android_Shower', 2],
 [64589, 'Monster_Comics', 2],
 [65093, 'Boat_BBQ', 2],
 [66145, 'Shelf_Clock', 2],
 [66351, 'Laptop_Shoes', 2],
 [66547, 'Shelf_Dog', 2],
 [66809, 'Toilet_Crab', 2],
 [68286, 'Water_Flowers', 2],
 [69369, 'Toilet_BBQ', 2],
 [69695, 'Fence_Monster', 2],
 [69759, 'Puppy_System', 2],
 [71155, 'Video_games_Male', 2],
 [79501, 'Allergies_Plants', 2],
 [79718, 'Fusion_Settings', 2],
 [80135, 'Ring_Flowers', 2],
 [80144, 'Fusion_Dislike', 2],
 [80222, 'Leash_Toolbox', 2],
 [80393, 'Whale_Cone', 2],
 [80768, 'Towel_Monster', 2],
 [80780, 'Toolbox_Shower', 2],
 [81325, 'Flowers_Elevator', 2],
 [82855, 'Fence_Running', 2],
 [83091, 'Video_games_Trees', 2],
 [83354, 'Water_Male', 2],
 [83471, 'Crab_Light_saber', 2],
 [83782, 'Flowers_Light_saber', 2],
 [85605, 'Hnads_Laptop', 2],
 [88102, 'Trees_Light_saber', 2],
 [88662, 'Crab_Comics', 2],
 [89179, 'Rollers_Allergies', 2],
 [89791, 'Urine_Water', 2],
 [90536, 'Plus_BBQ', 2],
 [90615, 'Hnads_Monster', 2],
 [90790, 'Floppy_Disk_Soap', 2],
 [91234, 'Drugs_Soda', 2],
 [91675, 'Android_BBQ', 2],
 [91752, 'Shelf_Toilet', 2],
 [92795, 'Nuclear_Post_office', 2],
 [93218, 'Laptop_Trees', 2],
 [94257, 'Boat_Settings', 2],
 [95427, 'Website_Hnads', 2],
 [96434, 'Cat_Shower', 2],
 [96436, 'BBQ_Breakfast', 2],
 [98371, 'Kitty_Allergies', 2],
 [98569, 'BBQ_Hnads', 2],
 [98779, 'Kitty_Websites', 2],
 [101790, 'Nuclear_Book', 2],
 [103892, 'Ring_Cat', 2],
 [104521, 'Printer_Fusion', 2],
 [105044, 'Boat_Breakfast', 2],
 [107503, 'Breakfast_Crab', 2],
 [109916, 'Boat_Shoes', 2],
 [111859, 'Sink_Horse', 2],
 [114110, 'Kitty_Body', 2],
 [115648, 'Flowers_Video_games', 2],
 [117425, 'Fusion_Elevator', 2],
 [117750, 'Plus_System', 2],
 [117857, 'Dog_Solar', 2],
 [118386, 'Ice_cream_cone_Websites', 2],
 [119544, 'Dislike_Settings', 2],
 [120574, 'Running_Boat', 2],
 [121235, 'Plants_Websites', 2],
 [121917, 'Horse_BBQ', 2],
 [124790, 'Clock_Rollers', 2],
 [126194, 'Elevator_Kitty', 2],
 [126904, 'Ring_Leash', 2],
 [128211, 'Shelf_Trees', 2],
 [130220, 'Website_Fusion', 2],
 [132567, 'Drugs_Book', 2],
 [133416, 'Male_Ring', 2],
 [133870, 'Comics_Sink', 2],
 [134039, 'Video_games_Shelf', 2],
 [135189, 'Comics_YouTube', 2],
 [136715, 'Shower_Body', 2],
 [137346, 'Rollers_Dislike', 2],
 [138037, 'Crab_Fence', 2],
 [138063, 'BBQ_Prints', 2],
 [139592, 'Flowers_Websites', 2],
 [139676, 'Leash_Monster', 2],
 [140076, 'Elevator_Fusion', 2],
 [140353, 'Ring_Flowers', 2],
 [141065, 'Soda_Kitty', 2],
 [141080, 'Video_games_Settings', 2],
 [142116, 'Shelf_Leash', 2],
 [143802, 'Running_Android', 2],
 [144227, 'Elevator_Poop', 2],
 [145034, 'Floppy_Disk_Sink', 2],
 [146156, 'Dog_Elevator', 2],
 [150051, 'Water_Floppy_Disk', 2],
 [150144, 'Android_Robot', 2],
 [151492, 'Hnads_Android', 2],
 [152234, 'Ice_cream_cone_Cat', 2],
 [152420, 'Shelf_BBQ', 2],
 [155101, 'Comics_YouTube', 2],
 [155373, 'Leash_Website', 2],
 [155975, 'Soda_Kitty', 2],
 [157085, 'Elevator_Allergies', 2],
 [157876, 'Websites_Bird', 2],
 [164503, 'Laptop_Fusion', 2],
 [164598, 'Book_Websites', 2],
 [167300, 'Ice_cream_Breakfast', 2],
 [167412, 'Crab_Shoe', 2],
 [169910, 'Bird_Book', 2],
 [170301, 'Soda_Cone', 2],
 [170307, 'Laptop_Monster', 2],
 [170467, 'Prints_Ice_cream', 2],
 [172730, 'Whale_Video_games', 2],
 [172798, 'BBQ_Poop', 2],
 [173712, 'Drugs_Fusion', 2],
 [176184, 'Book_BBQ', 2],
 [178129, 'Crab_Robot', 2],
 [178216, 'Flowers_Running', 2],
 [178255, 'Fence_Shelf', 2],
 [178371, 'Fence_Rollers', 2],
 [180789, 'Shelf_Solar', 2],
 [181100, 'Ring_Shelf', 2],
 [181294, 'Soda_Comics', 2],
 [182566, 'Solar_Urine', 2],
 [183614, 'Clock_Light_saber', 2],
 [186501, 'Shoe_Comics', 2],
 [187159, 'Android_Prints', 2],
 [187989, 'Post_office_Printer', 2],
 [188114, 'Video_games_Sink', 2],
 [190031, 'Whale_Male', 2],
 [191726, 'Puppy_Robot', 2],
 [191790, 'Running_Printer', 2],
 [192487, 'Shoes_Clock', 2],
 [192564, 'Boat_Towel', 2],
 [193093, 'Printer_Solar', 2],
 [193196, 'Mail_Dislike', 2],
 [193497, 'BBQ_Soap', 2],
 [194282, 'Light_saber_Shelf', 2],
 [195066, 'Body_Crab', 2],
 [195892, 'Ice_cream_cone_Settings', 2],
 [199781, 'Hnads_Boat', 2],
 [201494, 'Printer_Whale', 2],
 [204292, 'Ice_cream_cone_Leash', 2],
 [205145, 'Post_office_Drugs', 2],
 [206022, 'Video_games_Sink', 2],
 [208083, 'Toolbox_Toolbox', 2],
 [208222, 'Comics_Book', 2],
 [208442, 'Soda_Towel', 2],
 [208912, 'Post_office_Website', 2],
 [209824, 'Rollers_YouTube', 2],
 [434, 'Cone_Robot', 3],
 [1139, 'Post_office_Running', 3],
 [1754, 'Whale_Towel', 3],
 [2620, 'Boat_Toolbox', 3],
 [3340, 'Sink_Horse', 3],
 [3714, 'Crab_Floppy_Disk', 3],
 [4757, 'Nuclear_Video_games', 3],
 [4962, 'Printer_YouTube', 3],
 [7295, 'Comics_Settings', 3],
 [9129, 'Post_office_Plus', 3],
 [9348, 'Cone_Dog', 3],
 [9807, 'Mail_Hnads', 3],
 [10163, 'Puppy_Printer', 3],
 [11197, 'Solar_Shoe', 3],
 [12637, 'Cone_Shoes', 3],
 [14693, 'Fusion_Leash', 3],
 [15299, 'Soap_Leash', 3],
 [15525, 'Book_Allergies', 3],
 [15577, 'Soda_System', 3],
 [17577, 'Ice_cream_Flowers', 3],
 [18357, 'Towel_Comics', 3],
 [18617, 'Post_office_Breakfast', 3],
 [19130, 'Crab_YouTube', 3],
 [19466, 'Website_Ring', 3],
 [20604, 'Shoes_Male', 3],
 [21560, 'BBQ_Towel', 3],
 [21962, 'Fence_Printer', 3],
 [22168, 'Printer_Running', 3],
 [22559, 'Body_Shoes', 3],
 [24941, 'Android_Shoes', 3],
 [25690, 'Leash_Nuclear', 3],
 [27820, 'Soap_Floppy_Disk', 3],
 [30009, 'Light_saber_YouTube', 3],
 [30052, 'Bird_Rollers', 3],
 [31866, 'Poop_Cat', 3],
 [33573, 'Shoes_Crab', 3],
 [33770, 'Clock_Bird', 3],
 [34697, 'Cone_Cone', 3],
 [35330, 'Plus_Light_saber', 3],
 [36526, 'Light_saber_Plus', 3],
 [38972, 'Toilet_Ice_cream_cone', 3],
 [40707, 'Shelf_Drugs', 3],
 [41809, 'Laptop_Website', 3],
 [41985, 'Cone_Plants', 3],
 [42677, 'Bird_Dog', 3],
 [42748, 'Laptop_Ice_cream_cone', 3],
 [44069, 'Shoes_Kitty', 3],
 [46331, 'Video_games_Settings', 3],
 [48902, 'Ice_cream_Soda', 3],
 [51111, 'Elevator_Plants', 3],
 [51363, 'Puppy_Prints', 3],
 [55144, 'Robot_Leash', 3],
 [55868, 'Comics_Ice_cream', 3],
 [57770, 'Soap_Running', 3],
 [57784, 'Prints_Android', 3],
 [58045, 'YouTube_Plants', 3],
 [58950, 'Monster_Comics', 3],
 [59050, 'Laptop_Horse', 3],
 [62438, 'Towel_Plants', 3],
 [63643, 'Cone_Allergies', 3],
 [64353, 'YouTube_Shoes', 3],
 [65279, 'Ring_Dog', 3],
 [66677, 'Prints_Whale', 3],
 [66925, 'Book_Sink', 3],
 [67655, 'Hnads_Shower', 3],
 [70278, 'Male_Shoes', 3],
 [71132, 'System_Light_saber', 3],
 [74469, 'Male_Fusion', 3],
 [74512, 'Ice_cream_cone_Kitty', 3],
 [74566, 'Cat_Urine', 3],
 [75236, 'Boat_Whale', 3],
 [75545, 'Water_Shower', 3],
 [75628, 'Shelf_Poop', 3],
 [76091, 'Settings_Leash', 3],
 [76914, 'Cat_Printer', 3],
 [78039, 'Flowers_Flowers', 3],
 [78158, 'Dislike_Sink', 3],
 [79192, 'YouTube_Settings', 3],
 [80097, 'Cat_Towel', 3],
 [81059, 'Ring_Poop', 3],
 [81608, 'Website_Toilet', 3],
 [82935, 'Shower_Comics', 3],
 [83055, 'Robot_YouTube', 3],
 [85731, 'Clock_Puppy', 3],
 [86217, 'Website_Fence', 3],
 [87298, 'Leash_Toolbox', 3],
 [88359, 'Breakfast_Light_saber', 3],
 [88781, 'Puppy_Plus', 3],
 [89118, 'Website_Laptop', 3],
 [89502, 'Fence_Rollers', 3],
 [91080, 'Ring_Plus', 3],
 [91277, 'Settings_Video_games', 3],
 [94373, 'Horse_Ring', 3],
 [94466, 'Solar_Prints', 3],
 [98475, 'Shelf_Hnads', 3],
 [99123, 'Ice_cream_cone_Plants', 3],
 [99470, 'Soap_Robot', 3],
 [100145, 'Ring_Websites', 3],
 [104191, 'BBQ_Urine', 3],
 [104263, 'Towel_Light_saber', 3],
 [105505, 'Ring_BBQ', 3],
 [107312, 'Cat_Prints', 3],
 [107366, 'Mail_System', 3],
 [109122, 'Towel_Poop', 3],
 [110963, 'Drugs_Body', 3],
 [111074, 'Clock_Fence', 3],
 [111080, 'Flowers_Whale', 3],
 [112259, 'Android_Water', 3],
 [113221, 'Crab_Shoes', 3],
 [113480, 'Soda_Laptop', 3],
 [113484, 'Drugs_Prints', 3],
 [114245, 'Rollers_Crab', 3],
 [114348, 'Crab_Toilet', 3],
 [115621, 'Whale_Flowers', 3],
 [116468, 'Drugs_Solar', 3],
 [116485, 'Sink_Plants', 3],
 [117193, 'Floppy_Disk_Hnads', 3],
 [117441, 'Urine_Post_office', 3],
 [119433, 'Ring_Shoes', 3],
 [119706, 'Printer_Fence', 3],
 [120012, 'Leash_BBQ', 3],
 [121176, 'Running_Websites', 3],
 [123443, 'Android_Shoe', 3],
 [123735, 'Leash_Cat', 3],
 [124168, 'Settings_Shoes', 3],
 [125572, 'Fusion_Cat', 3],
 [125944, 'Leash_Book', 3],
 [127179, 'Body_Allergies', 3],
 [129081, 'Running_Comics', 3],
 [129211, 'BBQ_Nuclear', 3],
 [130087, 'Websites_Kitty', 3],
 [131121, 'Male_Websites', 3],
 [132698, 'Elevator_Book', 3],
 [132715, 'Puppy_Fence', 3],
 [134783, 'Fence_Laptop', 3],
 [135443, 'Website_Prints', 3],
 [135561, 'Shower_Prints', 3],
 [138698, 'Whale_Toilet', 3],
 [140105, 'Poop_Cat', 3],
 [140400, 'Trees_Android', 3],
 [140734, 'Puppy_Male', 3],
 [142130, 'Poop_Laptop', 3],
 [143340, 'Body_Monster', 3],
 [145243, 'Ring_Website', 3],
 [146086, 'Hnads_Water', 3],
 [146212, 'Shower_Mail', 3],
 [147134, 'Rollers_Breakfast', 3],
 [147161, 'Puppy_Cat', 3],
 [147497, 'Monster_Puppy', 3],
 [149804, 'Crab_Ring', 3],
 [150291, 'Settings_Plants', 3],
 [154340, 'Soap_BBQ', 3],
 [154387, 'Rollers_Kitty', 3],
 [154921, 'Poop_Ice_cream', 3],
 [155283, 'Ice_cream_cone_System', 3],
 [155400, 'Urine_Fusion', 3],
 [158053, 'Solar_Settings', 3],
 [158101, 'Floppy_Disk_System', 3],
 [158833, 'Post_office_Website', 3],
 [158959, 'Body_Soap', 3],
 [159142, 'Comics_Dislike', 3],
 [160561, 'Ring_Bird', 3],
 [161500, 'Mail_Allergies', 3],
 [161811, 'Towel_Leash', 3],
 [162624, 'Soda_Flowers', 3],
 [163285, 'Clock_BBQ', 3],
 [164374, 'Soda_Shoes', 3],
 [164613, 'Ice_cream_cone_Nuclear', 3],
 [167585, 'Sink_Poop', 3],
 [169201, 'Puppy_Android', 3],
 [169358, 'Plus_Prints', 3],
 [170063, 'Horse_Shoes', 3],
 [170252, 'Fusion_Trees', 3],
 [172750, 'Fusion_Video_games', 3],
 [174290, 'Rollers_Urine', 3],
 [175293, 'BBQ_Laptop', 3],
 [176117, 'Rollers_Kitty', 3],
 [176233, 'Towel_Ice_cream_cone', 3],
 [176464, 'Toilet_Allergies', 3],
 [177198, 'Crab_Clock', 3],
 [178229, 'Robot_BBQ', 3],
 [178576, 'Boat_Breakfast', 3],
 [179981, 'Monster_Sink', 3],
 [181939, 'Elevator_Plants', 3],
 [182383, 'Solar_Trees', 3],
 [182778, 'Body_Solar', 3],
 [183809, 'BBQ_Sink', 3],
 [183898, 'Video_games_Kitty', 3],
 [184810, 'Rollers_Android', 3],
 [185145, 'Whale_Puppy', 3],
 [191221, 'Monster_Post_office', 3],
 [191933, 'Settings_Rollers', 3],
 [192701, 'Breakfast_Websites', 3],
 [193872, 'Puppy_Plus', 3],
 [194613, 'Shoe_Drugs', 3],
 [195634, 'Settings_Dislike', 3],
 [195887, 'Cone_Video_games', 3],
 [196002, 'BBQ_Dislike', 3],
 [199415, 'Monster_Trees', 3],
 [199782, 'Settings_Fusion', 3],
 [200746, 'Urine_Allergies', 3],
 [200870, 'Cat_Kitty', 3],
 [204149, 'Puppy_Clock', 3],
 [207302, 'Hnads_Trees', 3],
 [207673, 'Shoes_Dog', 3],
 [207726, 'BBQ_Nuclear', 3],
 [207855, 'Kitty_Printer', 3],
 [209397, 'Soda_Settings', 3],
 [209668, 'Dislike_Bird', 3],
 [451, 'Websites_Shelf', 4],
 [1937, 'Dislike_Settings', 4],
 [3440, 'Breakfast_Fence', 4],
 [3882, 'Plus_Poop', 4],
 [5776, 'Ice_cream_Rollers', 4],
 [6598, 'Clock_Ring', 4],
 [7925, 'Kitty_BBQ', 4],
 [8135, 'Sink_Android', 4],
 [9300, 'Boat_Toolbox', 4],
 [9322, 'Websites_Breakfast', 4],
 [10958, 'Flowers_Soda', 4],
 [12282, 'Soda_Whale', 4],
 [15644, 'Poop_Soda', 4],
 [24709, 'Laptop_Toolbox', 4],
 [27279, 'Post_office_Comics', 4],
 [27440, 'Cone_Running', 4],
 [28849, 'Ice_cream_Whale', 4],
 [28884, 'Crab_Ice_cream', 4],
 [30114, 'Crab_Solar', 4],
 [30562, 'Urine_Allergies', 4],
 [31051, 'Shoes_Laptop', 4],
 [31668, 'Soda_Plus', 4],
 [33289, 'Breakfast_Floppy_Disk', 4],
 [33651, 'Toolbox_Sink', 4],
 [34301, 'Towel_Fusion', 4],
 [35816, 'Horse_YouTube', 4],
 [36046, 'Toilet_Ice_cream_cone', 4],
 [36233, 'Bird_Book', 4],
 [37410, 'Hnads_Ice_cream', 4],
 [37462, 'Body_Soda', 4],
 [38386, 'Sink_System', 4],
 [38599, 'Ring_Dog', 4],
 [39593, 'Dog_Solar', 4],
 [41797, 'Rollers_Trees', 4],
 [42729, 'Flowers_Post_office', 4],
 [43445, 'Post_office_Male', 4],
 [43861, 'Nuclear_Male', 4],
 [47743, 'Urine_Body', 4],
 [47961, 'Post_office_Mail', 4],
 [49986, 'Allergies_Allergies', 4],

In [37]:
csv_file = "luc_csv.csv"
try:
    with open(csv_file, 'w') as f:
        for d in data:
            f.write("%s\n"%(str(d)[1:-1]))

except IOError:
    print("I/O error")

In [25]:
!pwd

/Users/lucparada/MEGA/FCUP/Ano_05/TESE/test_mysql

In [30]:
a = [1, 2, 3]
str(a)[1:-1]

'1, 2, 3'

In [61]:
[x for x in range(1577836800, 1604188800, 86400)]

[1577836800,
 1577923200,
 1578009600,
 1578096000,
 1578182400,
 1578268800,
 1578355200,
 1578441600,
 1578528000,
 1578614400,
 1578700800,
 1578787200,
 1578873600,
 1578960000,
 1579046400,
 1579132800,
 1579219200,
 1579305600,
 1579392000,
 1579478400,
 1579564800,
 1579651200,
 1579737600,
 1579824000,
 1579910400,
 1579996800,
 1580083200,
 1580169600,
 1580256000,
 1580342400,
 1580428800,
 1580515200,
 1580601600,
 1580688000,
 1580774400,
 1580860800,
 1580947200,
 1581033600,
 1581120000,
 1581206400,
 1581292800,
 1581379200,
 1581465600,
 1581552000,
 1581638400,
 1581724800,
 1581811200,
 1581897600,
 1581984000,
 1582070400,
 1582156800,
 1582243200,
 1582329600,
 1582416000,
 1582502400,
 1582588800,
 1582675200,
 1582761600,
 1582848000,
 1582934400,
 1583020800,
 1583107200,
 1583193600,
 1583280000,
 1583366400,
 1583452800,
 1583539200,
 1583625600,
 1583712000,
 1583798400,
 1583884800,
 1583971200,
 1584057600,
 1584144000,
 1584230400,
 1584316800,
 1584403200,
 1584489600,
 1584576000,
 1584662400,
 1584748800,
 1584835200,
 1584921600,
 1585008000,
 1585094400,
 1585180800,
 1585267200,
 1585353600,
 1585440000,
 1585526400,
 1585612800,
 1585699200,
 1585785600,
 1585872000,
 1585958400,
 1586044800,
 1586131200,
 1586217600,
 1586304000,
 1586390400,
 1586476800,
 1586563200,
 1586649600,
 1586736000,
 1586822400,
 1586908800,
 1586995200,
 1587081600,
 1587168000,
 1587254400,
 1587340800,
 1587427200,
 1587513600,
 1587600000,
 1587686400,
 1587772800,
 1587859200,
 1587945600,
 1588032000,
 1588118400,
 1588204800,
 1588291200,
 1588377600,
 1588464000,
 1588550400,
 1588636800,
 1588723200,
 1588809600,
 1588896000,
 1588982400,
 1589068800,
 1589155200,
 1589241600,
 1589328000,
 1589414400,
 1589500800,
 1589587200,
 1589673600,
 1589760000,
 1589846400,
 1589932800,
 1590019200,
 1590105600,
 1590192000,
 1590278400,
 1590364800,
 1590451200,
 1590537600,
 1590624000,
 1590710400,
 1590796800,
 1590883200,
 1590969600,
 1591056000,
 1591142400,
 1591228800,
 1591315200,
 1591401600,
 1591488000,
 1591574400,
 1591660800,
 1591747200,
 1591833600,
 1591920000,
 1592006400,
 1592092800,
 1592179200,
 1592265600,
 1592352000,
 1592438400,
 1592524800,
 1592611200,
 1592697600,
 1592784000,
 1592870400,
 1592956800,
 1593043200,
 1593129600,
 1593216000,
 1593302400,
 1593388800,
 1593475200,
 1593561600,
 1593648000,
 1593734400,
 1593820800,
 1593907200,
 1593993600,
 1594080000,
 1594166400,
 1594252800,
 1594339200,
 1594425600,
 1594512000,
 1594598400,
 1594684800,
 1594771200,
 1594857600,
 1594944000,
 1595030400,
 1595116800,
 1595203200,
 1595289600,
 1595376000,
 1595462400,
 1595548800,
 1595635200,
 1595721600,
 1595808000,
 1595894400,
 1595980800,
 1596067200,
 1596153600,
 1596240000,
 1596326400,
 1596412800,
 1596499200,
 1596585600,
 1596672000,
 1596758400,
 1596844800,
 1596931200,
 1597017600,
 1597104000,
 1597190400,
 1597276800,
 1597363200,
 1597449600,
 1597536000,
 1597622400,
 1597708800,
 1597795200,
 1597881600,
 1597968000,
 1598054400,
 1598140800,
 1598227200,
 1598313600,
 1598400000,
 1598486400,
 1598572800,
 1598659200,
 1598745600,
 1598832000,
 1598918400,
 1599004800,
 1599091200,
 1599177600,
 1599264000,
 1599350400,
 1599436800,
 1599523200,
 1599609600,
 1599696000,
 1599782400,
 1599868800,
 1599955200,
 1600041600,
 1600128000,
 1600214400,
 1600300800,
 1600387200,
 1600473600,
 1600560000,
 1600646400,
 1600732800,
 1600819200,
 1600905600,
 1600992000,
 1601078400,
 1601164800,
 1601251200,
 1601337600,
 1601424000,
 1601510400,
 1601596800,
 1601683200,
 1601769600,
 1601856000,
 1601942400,
 1602028800,
 1602115200,
 1602201600,
 1602288000,
 1602374400,
 1602460800,
 1602547200,
 1602633600,
 1602720000,
 1602806400,
 1602892800,
 1602979200,
 1603065600,
 1603152000,
 1603238400,
 1603324800,
 1603411200,
 1603497600,
 1603584000,
 1603670400,
 1603756800,
 1603843200,
 1603929600,
 1604016000,
 1604102400]

In [66]:
data = []
for day in [x for x in range(1577836800, 1604188800, 86400)]:
#     query = "select * from taxilinkdb_rtcc.request as r join taxilinkdb_rtcc.event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=" + str(day) + " and r.dispatch_date< " +str(day+86400)+ ";"
    query = "select request_id, cli, e.fleet_id, taxi, time, dispatch_date, schedule_date, event, taxiFlags from event as e  join request as r on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=" + str(day) + " and r.dispatch_date< " +str(day+86400)+ ";"

    ## getting records from the table
    cursor.execute(query)

    ## fetching all records from the 'cursor' object
    records = cursor.fetchall()
    for r in records:
        data.append([e for e in r])
    print(day)

select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1577836800 and r.dispatch_date<= 1577923200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1577923200 and r.dispatch_date<= 1578009600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578009600 and r.dispatch_date<= 1578096000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578096000 and r.dispatch_date<= 1578182400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578182400 and r.dispatch_date<= 1578268800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578268800 and r.dispatch_date<= 1578355200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578355200 and r.dispatch_date<= 1578441600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578441600 and r.dispatch_date<= 1578528000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578528000 and r.dispatch_date<= 1578614400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578614400 and r.dispatch_date<= 1578700800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578700800 and r.dispatch_date<= 1578787200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578787200 and r.dispatch_date<= 1578873600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578873600 and r.dispatch_date<= 1578960000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1578960000 and r.dispatch_date<= 1579046400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579046400 and r.dispatch_date<= 1579132800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579132800 and r.dispatch_date<= 1579219200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579219200 and r.dispatch_date<= 1579305600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579305600 and r.dispatch_date<= 1579392000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579392000 and r.dispatch_date<= 1579478400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579478400 and r.dispatch_date<= 1579564800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579564800 and r.dispatch_date<= 1579651200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579651200 and r.dispatch_date<= 1579737600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579737600 and r.dispatch_date<= 1579824000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579824000 and r.dispatch_date<= 1579910400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579910400 and r.dispatch_date<= 1579996800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1579996800 and r.dispatch_date<= 1580083200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580083200 and r.dispatch_date<= 1580169600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580169600 and r.dispatch_date<= 1580256000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580256000 and r.dispatch_date<= 1580342400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580342400 and r.dispatch_date<= 1580428800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580428800 and r.dispatch_date<= 1580515200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580515200 and r.dispatch_date<= 1580601600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580601600 and r.dispatch_date<= 1580688000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580688000 and r.dispatch_date<= 1580774400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580774400 and r.dispatch_date<= 1580860800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580860800 and r.dispatch_date<= 1580947200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1580947200 and r.dispatch_date<= 1581033600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581033600 and r.dispatch_date<= 1581120000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581120000 and r.dispatch_date<= 1581206400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581206400 and r.dispatch_date<= 1581292800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581292800 and r.dispatch_date<= 1581379200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581379200 and r.dispatch_date<= 1581465600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581465600 and r.dispatch_date<= 1581552000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581552000 and r.dispatch_date<= 1581638400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581638400 and r.dispatch_date<= 1581724800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581724800 and r.dispatch_date<= 1581811200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581811200 and r.dispatch_date<= 1581897600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581897600 and r.dispatch_date<= 1581984000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1581984000 and r.dispatch_date<= 1582070400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582070400 and r.dispatch_date<= 1582156800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582156800 and r.dispatch_date<= 1582243200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582243200 and r.dispatch_date<= 1582329600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582329600 and r.dispatch_date<= 1582416000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582416000 and r.dispatch_date<= 1582502400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582502400 and r.dispatch_date<= 1582588800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582588800 and r.dispatch_date<= 1582675200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582675200 and r.dispatch_date<= 1582761600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582761600 and r.dispatch_date<= 1582848000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582848000 and r.dispatch_date<= 1582934400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1582934400 and r.dispatch_date<= 1583020800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583020800 and r.dispatch_date<= 1583107200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583107200 and r.dispatch_date<= 1583193600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583193600 and r.dispatch_date<= 1583280000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583280000 and r.dispatch_date<= 1583366400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583366400 and r.dispatch_date<= 1583452800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583452800 and r.dispatch_date<= 1583539200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583539200 and r.dispatch_date<= 1583625600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583625600 and r.dispatch_date<= 1583712000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583712000 and r.dispatch_date<= 1583798400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583798400 and r.dispatch_date<= 1583884800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583884800 and r.dispatch_date<= 1583971200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1583971200 and r.dispatch_date<= 1584057600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584057600 and r.dispatch_date<= 1584144000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584144000 and r.dispatch_date<= 1584230400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584230400 and r.dispatch_date<= 1584316800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584316800 and r.dispatch_date<= 1584403200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584403200 and r.dispatch_date<= 1584489600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584489600 and r.dispatch_date<= 1584576000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584576000 and r.dispatch_date<= 1584662400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584662400 and r.dispatch_date<= 1584748800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584748800 and r.dispatch_date<= 1584835200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584835200 and r.dispatch_date<= 1584921600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1584921600 and r.dispatch_date<= 1585008000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585008000 and r.dispatch_date<= 1585094400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585094400 and r.dispatch_date<= 1585180800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585180800 and r.dispatch_date<= 1585267200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585267200 and r.dispatch_date<= 1585353600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585353600 and r.dispatch_date<= 1585440000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585440000 and r.dispatch_date<= 1585526400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585526400 and r.dispatch_date<= 1585612800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585612800 and r.dispatch_date<= 1585699200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585699200 and r.dispatch_date<= 1585785600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585785600 and r.dispatch_date<= 1585872000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585872000 and r.dispatch_date<= 1585958400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1585958400 and r.dispatch_date<= 1586044800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586044800 and r.dispatch_date<= 1586131200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586131200 and r.dispatch_date<= 1586217600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586217600 and r.dispatch_date<= 1586304000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586304000 and r.dispatch_date<= 1586390400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586390400 and r.dispatch_date<= 1586476800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586476800 and r.dispatch_date<= 1586563200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586563200 and r.dispatch_date<= 1586649600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586649600 and r.dispatch_date<= 1586736000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586736000 and r.dispatch_date<= 1586822400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586822400 and r.dispatch_date<= 1586908800;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586908800 and r.dispatch_date<= 1586995200;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1586995200 and r.dispatch_date<= 1587081600;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1587081600 and r.dispatch_date<= 1587168000;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1587168000 and r.dispatch_date<= 1587254400;
select * from request as r join event as e on r.id = e.request_id and r.fleet_id = e.fleet_id where r.fleet_id = 0 and r.dispatch_date>=1587254400 and r.dispatch_date<= 1587340800;